<ion-header >
    <ion-toolbar color="success" >
        <ion-title style="background: transparent !important;">
            <ion-img src="assets/PatriotPassupHeader.PNG"></ion-img>
         </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content padding>
  <ion-list>
    <ion-item> 
        <ion-label color="primary" stacked>Name Of Item</ion-label>
       <ion-input placeholder="name" type="text" text-right id="input" [(ngModel)]="name"></ion-input>
    </ion-item> 
    <ion-item> 
        <ion-label color="primary" stacked>Price Of Item</ion-label>
       <ion-input placeholder="$$$$" type="text" text-right id="input" [(ngModel)]="price"></ion-input>
    </ion-item> 
    <ion-item> 
      <ion-label color="primary" floating>Item Details:</ion-label>
      <ion-textarea placeholder="Text" rows=7 [(ngModel)]="description"></ion-textarea>
   </ion-item>    
   <!--ion-item>
      <ion-button size=4 ion-button full (click)="loadImage()">Load Picture</ion-button>
   </ion-item-->
  </ion-list>

  <input type="file" *ngIf="!imageUrl" (change)="fileChanged($event)"/>

  <h2>Image </h2>
  <img *ngIf="imageURL" src="https://ucarecdn.com/{{ imageURL }}/"/>

  <br>

  <ion-img (click)="createPost()"style="width: 200px; 
    height: 200px; background: transparent !important;" src="assets/Post.png">
    </ion-img>

</ion-content>

