<ion-header>

    <ion-toolbar>
  
      <ion-title>feed</ion-title>
  
    </ion-toolbar>
  
  </ion-header>
  
  
  
  <ion-content padding>
  
    <div *ngIf="posts | async">
  
      <ion-card *ngFor="let post of posts">
  
        <ion-img src="https://ucarecdn.com/{{ post.postID }}/-review/{{ effect }}"></ion-img>
  
        <ion-card-content>
  
          <p>{{ postData.description</p>
  
        </ion-card-content>
        <ion-item (click)="toggleheart()">
          <ion-icon [name]="heartType"></ion-icon>
        </ion-item>
      </ion-card>
    </div>
  </ion-content>