<ion-header>
  <ion-toolbar color=primary>
      <ion-title style="background: transparent !important;">
          <ion-img src="assets/PatriotPassupHeader.PNG"></ion-img>
          </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
    <ion-searchbar showCancelButton (ionInput)="filterList($event)"></ion-searchbar>

    <ion-card *ngFor="let item of itemList" (click) = 'expand(item)'>

    <ion-img width="80" height="80"src = "https://ucarecdn.com/{{item.photo}}/-/preview/300x500/-/filter/varriel/-43/"></ion-img> 

    <ion-card-header>
      <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{item.price}}
    </ion-card-content>
  </ion-card>

</ion-content>